[core]
	autocrlf = input
	editor = nvim
	excludesfile = ~/.gitignore_global
	pager = diff-highlight | less -R
[user]
	name = Rudolf Tucek
	email = tucek.rudolf@gmail.com
	signingkey = 41E89AAAC718851C
[alias]
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset) %C(bold yellow)%d%C(reset)' --branches --remotes --tags
	lg2 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset) %C(bold yellow)%d%C(reset)' --all
	lg = !git lg1
	permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
	fork-point = !bash -c 'diff -u <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
[credential]
	helper = cache --timeout=3600
[commit]
	gpgsign = true
	verbose = true
[tag]
	forceSignAnnotated = true
[merge]
	ff = false
	tool = nvimdiff
	conflictstyle = diff3
	log = true
[mergetool]
	prompt = true
[mergetool "nvimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
	rebase = preserve
[fetch]
	prune = true
[gpg]
	program = gpg
[diff]
	renames = copies
	tool = nvimdiff
[difftool]
	prompt = true
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE -c '$wincmd w' -c 'wincmd L'
[push]
	default = simple
[include]
	path = ~/.localgitconfig
