[core]
	autocrlf = input
	editor = nvim
	excludesfile = ~/.gitignore_global
	pager = /usr/share/git/diff-highlight/diff-highlight | less -RFX
	; pager = diff-so-fancy | less -RFX
	; pager = delta --keep-plus-minus-markers --theme='zenburn'
[user]
	name = Rudolf Tucek
	email = tucek.rudolf@gmail.com
	signingkey = 41E89AAAC718851C
[alias]
	fork-point = !bash -c 'diff -u <(git rev-list --first-parent "${1:-master}") <(git rev-list --first-parent "${2:-HEAD}") | sed -ne \"s/^ //p\" | head -1' -
	lg = !git lg1
	lg1 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset) %C(bold yellow)%d%C(reset)' --branches --remotes --tags
	lg2 = log --graph --abbrev-commit --decorate --date=relative --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset) %C(bold yellow)%d%C(reset)' --all
	patch = !git --no-pager diff --no-color
	permission-reset = !git diff -p -R | grep -E \"^(diff|(old|new) mode)\" | git apply
[credential]
	helper = cache --timeout=3600
[commit]
	gpgsign = true
	verbose = true
[tag]
	forceSignAnnotated = true
[merge]
	ff = false
	tool = nvimdiff
	conflictstyle = diff3
	log = true
[mergetool]
	prompt = true
[mergetool "nvimdiff"]
	cmd = nvim -d $BASE $LOCAL $REMOTE $MERGED -c '$wincmd w' -c 'wincmd J'
[pull]
	rebase = merges
[fetch]
	prune = true
[gpg]
	program = gpg
[diff]
	renames = copies
	tool = nvimdiff
[difftool]
	prompt = true
[difftool "nvimdiff"]
	cmd = nvim -d $LOCAL $REMOTE -c '$wincmd w' -c 'wincmd L'
[push]
	default = simple
[include]
	path = ~/.localgitconfig
[interactive]
	diffFilter = delta --color-only
[color]
	ui = true
[color "diff"]
	meta = 11
	frag = magenta bold
	commit = yellow bold
	old = red bold
	new = green bold
	whitespace = red reverse
[diff-so-fancy]
	changeHunkIndicators = false
	stripLeadingSymbols = false
	markEmptyLines = false
	useUnicodeRuler = false
[format]
	signOff = true
	coverLetter = auto
	coverFromDescription = auto
