[Unit]
Description=Udiskie daemon
Documentation=man:udiskie(8) https://github.com/coldfix/udiskie/wiki

[Service]
ExecStart=/usr/bin/udiskie

[Install]
WantedBy=multi-user.target
