{{- /* git commit config */ -}}
{{-
	$gitName := promptStringOnce
		. "git.name"
		"git: committer name"
-}}
{{-
	$gitEmail := promptStringOnce
		. "git.email"
		"git: committer email"
-}}

{{- /* gpg config */ -}}
{{-
	$gpgSigningKey := promptStringOnce
		. "gpg.signingkey"
		"GPG: signing key"
-}}
{{-
	$gpgKeyservers := list
		"keys.openpgp.org"
		"keyserver.ubuntu.com"
		"pgp.mit.edu"
-}}
{{-
	$gpgKeyserver := promptChoiceOnce
		. "gpg.keyserver"
		"GPG: preferred keyserver" $gpgKeyservers
-}}

{{- /* npm config */ -}}
{{-
	$npmToken := promptStringOnce
		. "npm.token"
		"npm: npmjs.com token"
-}}

{{- /* vim/nvim config */ -}}
{{-
	$vimCocIntelephenseLicenseKey := promptStringOnce
		. "vim.coc.intelephense_licensekey"
		"vim: coc intelephense license key"
-}}

{{- /* hyprland config */ -}}
{{-
	$hyprlandPrimaryMonitorConfig := promptStringOnce
		. "hyprland.primaryMonitorConfig"
		"hyprland: primary monitor config"
-}}

{{- /* hypridle config */ -}}
{{-
	$hypridleScreenDim := promptIntOnce
		. "hypridle.screen_dim"
		"hypridle: dim screen after N seconds"
		150
-}}
{{-
	$hypridleKeyboardBacklightDim := promptIntOnce
		. "hypridle.keyboard_backlight_dim"
		"hypridle: dim keyboard backlight after N seconds"
		150
-}}
{{-
	$hypridleScreenLock := promptIntOnce
		. "hypridle.screen_lock"
		"hypridle: lock screen after N seconds"
		300
-}}
{{-
	$hypridleScreenOff := promptIntOnce
		. "hypridle.screen_off"
		"hypridle: lock screen after N seconds"
		450
-}}
{{-
	$hypridleSuspend := promptIntOnce
		. "hypridle.suspend"
		"hypridle: suspend after N seconds"
		600
-}}

{{- /* hyprlock config */ -}}
{{-
	$hyprlockFingerprintEnabled := promptBoolOnce
		. "hyprlock.fingerprint_enabled"
		"hyprlock: enable fingerprint reader"
-}}


{{- /* waybar config */ -}}
{{-
	$waybarPowerAdapter := promptStringOnce
		. "waybar.power.adapter"
		"Waybar: power adater ID (leave blank for having Waybar selecting a sensitive default)"
-}}
{{-
	$waybarPowerBattery := promptStringOnce
		. "waybar.power.battery"
		"Waybar: battery ID (leave blank for having Waybar selecting a sensitive default)"
-}}
{{-
	$waybarNetEthInterface := promptStringOnce
		. "waybar.net.eth"
		"Waybar: ethernet interface name"
-}}
{{-
	$waybarNetWifiInterface := promptStringOnce
		. "waybar.net.wifi"
		"Waybar: WiFi interface name"
-}}
{{-
	$waybarTemperaturZone := promptStringOnce .
		"waybar.temperature.thermal_zone"
		"Waybar: temperature thermal zone ID (leave blank for having Waybar selecting a sensitive default)"
-}}
{{-
	$waybarTemperaturHwmonPath := promptStringOnce
		. "waybar.temperature.hwmon_path"
		"Waybar: HWMON file path to use instead of thermal zone ID (leave blank for having Waybar selecting a sensitive default)"
-}}

# Config
[edit]
    command = "nvim"

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[diff]
	pager = "delta"

[data.git]
	name = {{ $gitName | quote }}
	email = {{ $gitEmail | quote }}
	signingkey = {{ $gpgSigningKey | quote }}

[data.gpg]
	signingkey = {{ $gpgSigningKey | quote }}
	# we use either one of these:
	{{- range $gpgKeyservers }}
	# - {{ . }}
	{{- end }}
	keyserver = {{ $gpgKeyserver | quote }}

[data.npm]
	token = {{ $npmToken | quote }}

[data.vim.coc]
	intelephense_licensekey = {{ $vimCocIntelephenseLicenseKey | quote }}

[data.hyprland]
	# monitor config shall be written as defined by
	# https://wiki.hypr.land/Configuring/Monitors/
	primaryMonitorConfig = "desc:BOE NE135A1M-NY1,2880x1920@120.00,0x0,1.5"

	# Additional external monitors shall be declared as an array of objects,
	# where each object must have a `config` property, encoded like
	# `primaryMonitorConfig` and `comment` property string. `comment` may be
	# left blank.
	#
	# Example:
	#
	# [[data.hyprland.externalMonitors]]
	# comment = "my external monitor"
	# config = "desc:LG Electronics LG ULTRAGEAR 408BOHE0K857,2560x1440@143.99100,1920x0,1"
	#
	# [[data.hyprland.externalMonitors]]
	# comment = "my 2nd external monitor"
	# config = "[...]"
	externalMonitors = []

[data.hypridle]
	# all values in seconds
	# set to 0 for skipping listener
	screen_dim = {{ $hypridleScreenDim }}
	keyboard_backlight_dim = {{ $hypridleKeyboardBacklightDim }}
	screen_lock = {{ $hypridleScreenLock }}
	screen_off = {{ $hypridleScreenOff }}
	suspend = {{ $hypridleSuspend }}

[data.hyprlock]
	fingerprint_enabled = {{ $hyprlockFingerprintEnabled }}

[data.waybar]
	# Run `ls -1 /sys/class/power_supply/` in order to get an overview.
	# Waybar picks sensitive defaults if below is left blank.
	[data.waybar.power]
	show = true
	adapter = {{ $waybarPowerAdapter | quote }}
	battery = {{ $waybarPowerBattery | quote }}

	# Run `bluetoothctl list` in order to see available controller
	[data.waybar.bluetooth]
	show = true
	controller = ""

	# Run `ip link` for an overview of applicable interfaces
	[data.waybar.net]
	eth = {{ $waybarNetEthInterface | quote }}
	wifi = {{ $waybarNetWifiInterface | quote }}

	# see https://github.com/Alexays/Waybar/wiki/Module:-Temperature
	# Waybar picks sensitive defaults if below is left blank.
	[data.waybar.temperature]
	# The thermal zone, as in /sys/class/thermal/.
	thermal_zone = {{ $waybarTemperaturZone | quote }}
	# The temperature path to use
	# e.g. /sys/class/hwmon/hwmon2/temp1_input instead of one in /sys/class/thermal/.
	hwmon_path = {{ $waybarTemperaturHwmonPath | quote }}
