{{- /* git commit config */ -}}
{{-
	$gitName := promptStringOnce
		. "git.name"
		"git: committer name"
-}}
{{-
	$gitEmail := promptStringOnce
		. "git.email"
		"git: committer email"
-}}

{{- /* gpg config */ -}}
{{-
	$gpgSigningKey := promptStringOnce
		. "gpg.signingkey"
		"GPG: signing key"
-}}
{{-
	$gpgKeyservers := list
		"keys.openpgp.org"
		"keyserver.ubuntu.com"
		"pgp.mit.edu"
-}}
{{-
	$gpgKeyserver := promptChoiceOnce
		. "gpg.keyserver"
		"GPG: preferred keyserver" $gpgKeyservers
-}}

{{- /* npm config */ -}}
{{-
	$npmToken := promptStringOnce
		. "npm.token"
		"npm: npmjs.com token"
-}}

{{- /* vim/nvim config */ -}}
{{-
	$vimCocIntelephenseLicenseKey := promptStringOnce
		. "vim.coc.intelephense_licensekey"
		"vim: coc intelephense license key"
-}}

{{- /* hyprlock config */ -}}
{{-
	$hyprlockFingerprintEnabled := promptBoolOnce
		. "hyprlock.fingerprint_enabled"
		"hyprlock: enable fingerprint reader"
-}}


{{- /* waybar config */ -}}
{{-
	$waybarEthInterface := promptStringOnce
		. "waybar.net.eth"
		"Waybar: Eth interface name"
-}}
{{-
	$waybarWifiInterface := promptStringOnce
		. "waybar.net.wifi"
		"Waybar: WiFi interface name"
-}}
{{-
	$waybarTemperaturZone := promptStringOnce .
		"waybar.net.temperatur.thermal_zone"
		"Waybar: temperature thermal zone ID (leave blank for having Waybar selecting a sensitive default)"
-}}
{{-
	$waybarTemperaturHwmonPath := promptStringOnce
		. "waybar.net.temperature.hwmon_path"
		"Waybar: HWMON file path to use instead of thermal zone ID (leave blank for having Waybar selecting a sensitive default)"
-}}

# Config
[edit]
    command = "nvim"

[merge]
    command = "nvim"
    args = ["-d", "{{ "{{" }} .Destination {{ "}}" }}", "{{ "{{" }} .Source {{ "}}" }}", "{{ "{{" }} .Target {{ "}}" }}"]

[diff]
	pager = "delta"


# Data to be replaced
[data.system]
	# idle time, after which the lock screen is activated
	idle_lockscreen = "300"
	# idle time, after which the machine suspends
	# it's scheduled after the lock screen has been scheduled
	idle_suspend = "300"
[data.git]
	name = {{ $gitName | quote }}
	email = {{ $gitEmail | quote }}
	signingkey = {{ $gpgSigningKey | quote }}

[data.gpg]
	signingkey = {{ $gpgSigningKey | quote }}
	# we use either one of these:
	{{- range $gpgKeyservers }}
	# - {{ . }}
	{{- end }}
	keyserver = {{ $gpgKeyserver | quote }}

[data.npm]
	token = {{ $npmToken | quote }}

[data.vim.coc]
	intelephense_licensekey = {{ $vimCocIntelephenseLicenseKey | quote }}

[data.hyprlock]
	fingerprint_enabled = {{ $hyprlockFingerprintEnabled }}

[data.waybar]
	# Run `ls -1 /sys/class/power_supply/` in order to get an overview.
	[data.waybar.power]
	show = true
	adapter = ""
	battery = ""

	# Run `bluetoothctl list` in order to see available controller
	[data.waybar.bluetooth]
	show = true
	controller = ""

	# Run `ip link` for an overview of applicable interfaces
	[data.waybar.net]
	eth = {{ $waybarEthInterface | quote }}
	wifi = {{ $waybarWifiInterface | quote }}

	# see https://github.com/Alexays/Waybar/wiki/Module:-Temperature
	# Waybar picks sensitive defaults if below is left blank.
	[data.waybar.temperature]
	# The thermal zone, as in /sys/class/thermal/.
	thermal_zone = {{ $waybarTemperaturZone | quote }}
	# The temperature path to use
	# e.g. /sys/class/hwmon/hwmon2/temp1_input instead of one in /sys/class/thermal/.
	hwmon_path = {{ $waybarTemperaturHwmonPath | quote }}
