//prefix={{ .chezmoi.homeDir }}/.npm-packages
git=git
git-tag-version=true
sign-git-commit=true
sign-git-tag=true
tag-version-prefix=v
{{- if .npm.token }}
//registry.npmjs.org/:_authToken={{ .npm.token }}
{{- end }}
