general {
	lock_cmd = pidof hyprlock || hyprlock		# avoid starting multiple hyprlock instances.
	before_sleep_cmd = loginctl lock-session	# lock before suspend.
	after_sleep_cmd = hyprctl dispatch dpms on	# to avoid having to press a key twice to turn on the display.
}
{{- if gt .hypridle.screen_dim 0 }}

# dim screen
listener {
	timeout = {{ .hypridle.screen_dim }}
	on-timeout = brightnessctl -s set 10	# set monitor backlight to minimum, avoid 0 on OLED monitor.
	on-resume = brightnessctl -r		# monitor backlight restore.
}
{{- end }}
{{- if gt .hypridle.keyboard_backlight_dim 0 }}

# turn off keyboard backlight, comment out this section if you don't have a keyboard backlight.
listener {
	timeout = {{ .hypridle.keyboard_backlight_dim }}
	on-timeout = brightnessctl -sd chromeos::kbd_backlight set 1	# turn off keyboard backlight.
	on-resume = brightnessctl -rd chromeos::kbd_backlight		# turn on keyboard backlight.
}
{{- end }}
{{- if gt .hypridle.screen_lock 0 }}

# lock screen
listener {
	timeout = {{ .hypridle.screen_lock }}
	on-timeout = loginctl lock-session	# lock screen when timeout has passed
}
{{- end }}
{{- if gt .hypridle.screen_off 0 }}

# turn off the screen entirely
listener {
	timeout = {{ .hypridle.screen_off }}
	on-timeout = hyprctl dispatch dpms off				# screen off when timeout has passed
	on-resume = hyprctl dispatch dpms on && brightnessctl -r	# screen on when activity is detected after timeout has fired.
}
{{- end }}
{{- if gt .hypridle.suspend 0 }}

# suspend the machine
listener {
	timeout = {{ .hypridle.suspend }}
	on-timeout = systemctl suspend	# suspend pc
}
{{- end }}
