[geometry]
posx={{ .nitrogen.posx }}
posy={{ .nitrogen.posy }}
sizex={{ .nitrogen.sizex }}
sizey={{ .nitrogen.sizey }}

[nitrogen]
view=list
recurse=true
sort=alpha
icon_caps=false
dirs=/usr/share/backgrounds;{{ .chezmoi.homeDir }}/.config/nitrogen;
