# Config
[edit]
    command = "nvim"

[merge]
    command = "nvim"
    args = ["-d", "{{ .Destination }}", "{{ .Source }}", "{{ .Target }}"]

[diff]
	pager = "delta"


# Data to be replaced
[data.git]
	name = "Rudolf Tucek"
	email = "tucek.rudolf@gmail.com"
	signingkey = ""

[data.gpg]
	signingkey = ""

[data.i3]
	resolution = "2048x1152"

[data.npm]
	token = ""

[data.vim.coc]
	intelephense_licensekey = ""

[data.polybar]
	battery_adapter = "ADP1"
	net_interface_eth = "enx34298f9240b4"
