[data.git]
	name = "Rudolf Tucek"
	email = "tucek.rudolf@gmail.com"
	signingkey = ""

[data.gpg]
	signingkey = ""

[data.i3]
	resolution = "2048x1152"

[data.npm]
	token = ""

[data.polybar]
	battery_adapter = "ADP1"
	net_interface_eth = "enx34298f9240b4"
